:root {
    --grey-darkest: #141517;
    --grey-dark: #242629;
    --grey-medium: #2b2c30;
    --grey-light: #32353b;
    --pastel-green: #15e0a7;
    --pastel-blue: #776bff;
    --pastel-orange: #f2a20c;
    --off-white: rgb(241, 237, 237);
    --dirty-white: rgb(145, 145, 145);
    --location-border: #c0c0c0;
    --location-grey: #909090;
    --location-green: #00f800;
    --location-purple: #c000c0;
    --playstation-square: #f89898;
    --playstation-circle: #f84040;
    --playstation-cross: #80b8f8;
    --playstation-triangle: #50f850;
    --playstation-grey-light: #b0afb2;
    --playstation-grey-dark: #414143;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.5;
    color: var(--off-white);
    background-color: var(--grey-light);
    text-align: center;
}

* {
    font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5;
    color: var(--off-white);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
}

img {
    image-rendering: crisp-edges;
}

.khaos-logo {
    background-image: url('KhaosLogo.png');
    width: 38px;
    height: 45px;
    margin-right: 0.4em;
}

header {
    padding: 0.2em;
    background-color: var(--grey-darkest);
}

footer {
    background-color: var(--grey-darkest);
}

#main-nav {
    font-size: 1em !important;
    font-weight: 600 !important;
    color: var(--off-white);
    display: flex;
    align-items: center;
}

.main-link {
    vertical-align: middle;
    width: 6%;
    min-width: 90px;
    display: flex;
    justify-content: center;
}

#main-nav a:hover {
    color: var(--pastel-blue);
}

.menu-divider {
    cursor: default;
    font-size: 1em !important;
    font-weight: 300 !important;
    color: var(--dirty-white);
}

.panel-main {
    display: flex;
    padding: 0.6em;
    gap: 0.6em;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.small-link {
    color: var(--pastel-blue);
}

.small-link:hover {
    color: var(--pastel-orange);
}

article {
    margin: auto;
    border-radius: 10px;
    padding: 1em;
    background-color: var(--grey-dark);
    display: flex;
    text-align: left;
}

article div {
    flex-grow: 1;
}

.article-title {
    color: var(--pastel-blue);
}

#large-container {
    width: 904px;
    height: 1414px;
    overflow: hidden;
}

#scroll-container {
    width: 930px;
    height: 707px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#scroll-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#replay-controls {
    padding: 0.4em;
    display: flex;
    gap: 1em;
}

#replay-file {
    cursor: pointer;
    padding: 0.2em;
    min-width: 60%;
    display: flex;
    justify-content: center;
    color: var(--pastel-green);
}

.player-button {
    cursor: pointer;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    color: var(--pastel-green);
}

.player-button span {
    color: var(--pastel-green);
}

.player-button:hover {
    background-color: var(--grey-medium);
}

.relic {
    image-rendering: pixelated;
    object-fit: fill;
    height: 3vw;
    width: 3vw;
}

.uncollected {
    filter: grayscale(100%) brightness(70%);
}

#progress-bar-container {
    width: 100%;
}

#progress-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

#progress-bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

#speed-button {
    position: relative;
}

#speed-select-panel {
    position: absolute;
    padding: 0.3em;
    top: -9em;
    border-radius: 10px;
    background: var(--grey-darkest);
}